package $info.package;

#foreach($pkg in $info.imports)
import $pkg;
#end

#if($info.classConfig.comment)
 /**
  * $info.table.comment
  *
  * @author $info.config.info.author
  * @date $info.config.info.date
  */
#end
#if($info.annotations.size() > 0)
  #foreach($anno in $info.annotations)
$anno
  #end
#end
public class $info.className {

