#foreach($prop in $info.properties)
  #if($prop.column.comment.length() > 0)
  /**
  * $prop.column.comment
  */
  #end
  #if($prop.annotations.size() > 0)
    #foreach($anno in $prop.annotations)
  $anno
    #end
  #end
  private $prop.javaTypeAndImport[0] $prop.propertyName;

#end
