#foreach($prop in $info.properties)
  #if($prop.column.comment.length() > 0)
${indent}/**
${indent} * $prop.column.comment
${indent} */
  #end
#if($prop.annotations.size() > 0)
#foreach($anno in $prop.annotations)
${indent}$anno
#end
#end
${indent}private $prop.javaTypeAndImport[0] $prop.propertyName;

#end
