#foreach($prop in $info.properties)
${indent}public $prop.javaTypeAndImport[0] get${prop.upperCaseName}() {
${indent}${indent}return $prop.propertyName;
${indent}}

${indent}public void set${prop.upperCaseName}($prop.javaTypeAndImport[0] $prop.propertyName) {
${indent}${indent}this.$prop.propertyName = $prop.propertyName;
${indent}}

#end